<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Pet</title>
</head>
<body>
    <h1>Order a Pet</h1>
    <check if="{{ @success }}">
        <h2>Thank you for your order of a {{ @type }}!</h2>
    </check>

    <form action="#" method="POST">
        <label>Pet Name</label>
        <check if="{{ @errors['name'] }}">
            <p>{{ @errors['name'] }}</p>
        </check>
        <input type="text" id="name" name="name" value="{{ @name }}">
        <label>Choose Pet Color</label>
        <check if="{{ @errors['color'] }}">
            <p>{{ @errors['color'] }}</p>
        </check>
        <select class="form-control" name="pet-color" id="pet-color">
            <option>--Select--</option>
            <repeat group="{{ @colors }}" value="{{ @colorOption }}">
                <option
                    <check if="{{ @colorOption == @color }}">selected</check>>
                    {{ @colorOption }}
                </option>
            </repeat>
        </select>
        <label>Pet Type</label>
        <check if="{{ @errors['type'] }}">
            <p>{{ @errors['type'] }}</p>
        </check>
        <input type="text" id="type" name="type" value="{{ @type }}"><br>
        <input type="submit" id="submit" name="submit" value="Submit">
    </form>

</body>
</html>